{% load recaptcha2 %}
<html>
  <head>
      {% recaptcha_init %}
  </head>
  <body>

<h1>{{ page.author.title }}</h1>
<p>{{ page.author.dob }}</p>
{% for book in page.author.book_set.all %}
<img src="{{ MEDIA_URL }}{{ book.cover }}">
{% endfor %}

<form method="post" action="{{ request.path }}">
  {% csrf_token %}
  {{ form }}
  <!-- Name:<br> -->
  <!-- <input type="text" name="name" value="Mickey"> -->
  <!-- <br> -->
  <!-- Email:<br> -->
  <!-- <input type="text" name="email" value="mmouse@example.com"> -->
  <!-- <br><br> -->
  <input type="submit" value="Submit">
</form>

  </body>
</html>
